@import "../common/index";

.ContactForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  gap: .8rem;
  &Element {
    width: 100%;
    position: relative;
    & label {
      display: none;
    }
    & input {
      background: url("/img/nombre.png") no-repeat .5rem, $white;
      width: 100%;
      padding: 1rem 1rem 1rem 2.5rem;
      position: relative;
      box-sizing: border-box;
      border: solid 1px $gray;
    }
    & .input_name {
      background: url("/img/nombre.png") no-repeat .5rem, $white;
      background-size: 1.5rem;
    }
    & .input_email {
      background: url("/img/correo.png") no-repeat .5rem, $white;
      background-size: 1.5rem;
    }
    & .input_phone {
      background: url("/img/telefono.png") no-repeat .5rem, $white;
      background-size: 1.5rem;
    }
    & textarea {
      width: 100%;
      box-sizing: border-box;
      padding: .5rem 1rem;
      position: relative;
      font-family: inherit;
    }
  }
  &Button {
    cursor: pointer;
    width: 10rem;
    margin: 0 auto;
    border-radius: 6px;
  }
}