@import "../common/index";

.ContactForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  gap: .8rem;
  min-height: 25rem;
  &Element {
    width: 100%;
    position: relative;
    & label {
      display: none;
    }
    & input {
      background: url("/img/nombre.png") no-repeat .5rem, $white;
      width: 100%;
      padding: 1rem 1rem 1rem 2.5rem;
      position: relative;
      box-sizing: border-box;
      border: solid 1px $gray;
    }
    & .input_name {
      background: url("/img/nombre.png") no-repeat .5rem, $white;
      background-size: 1.5rem;
    }
    & .input_email {
      background: url("/img/correo.png") no-repeat .5rem, $white;
      background-size: 1.5rem;
    }
    & .input_phone {
      background: url("/img/telefono.png") no-repeat .5rem, $white;
      background-size: 1.5rem;
    }
    & .input_error {
      font-size: .8rem;
      color: #d30000;
    }
    & textarea {
      width: 100%;
      box-sizing: border-box;
      padding: .5rem 1rem;
      position: relative;
      font-family: inherit;
    }
  }
  &Button {
    cursor: pointer;
    width: 10rem;
    margin: 0 auto;
    border-radius: 6px;
  }
  &SpinnerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 25rem;
  }
  &Success {
    min-height: 25rem;
    color: green;
    font-size: 2.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    & > div {
      font-size: 2rem;
    }
  }
  &Error {
    font-size: .8rem;
  }
}