@import "../common/index";

.EnterpriseBenefits {
  padding: 4rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem 0;
  font-family: $SourceSans3;
  @media screen and (max-width: $breakpoint-tablet) {
    padding: 4rem 1rem;
  }
  &Title {
    height: 2rem;
  }
  &Cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: $white;
    gap: 2rem 2rem;
  }
}

.EnterpriseBenefitCard {
  display: flex;
  flex-direction: column;
  max-width: 20rem;

  &Title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $blue-primary;
    font-weight: 500;
  }
  &Icon {
    position: relative;
    min-width: 4rem;
    aspect-ratio: 1 / 1;
  }
  &Description {
    & p {
      text-align: center;
    }
  }
}