@import "../common/index";

.Services {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  box-sizing: border-box;
  @media screen and (max-width: $breakpoint-tablet) {
    padding: 3rem 0;
  }
  &Dropdown {
    display: flex;
    width: 100%;
    max-width: calc(0.8 * #{$breakpoint-laptop});
    flex-direction: column;
    &Item {
      border: 1px solid black;
      margin-bottom: 2rem;
      transition-duration: 250ms;
      &_close {
        border-color: $gray-background;
      }
    }
    &Header {
      display: flex;
      padding: 1rem;
      box-sizing: border-box;
      justify-content: space-between;
      width: 100%;
      &_open {

      }
      &_close {
        background-color: $gray-background;
      }
    }
    &Number {
      color: $blue-primary;
      font-size: 5rem;
      font-weight: 700;
      padding: 0 .5rem;
      @media screen and (max-width: $breakpoint-tablet) {
        font-size: 3rem;
      }
    }
    &Name {
      font-size: 2rem;
      @media screen and (max-width: $breakpoint-tablet) {
        font-size: .8rem;
      }
    }
    &Icon {
      position: relative;
      font-size: 3rem;
      min-width: 5rem;
      font-weight: bold;
      aspect-ratio: 4 / 3;
      margin-right: 1rem;
      box-sizing: border-box;
      @media screen and (max-width: $breakpoint-tablet) {
        font-size: 2rem;
        min-width: 2.8rem;
      }
    }
    &Title {
      display: flex;
      align-items: center;
      font-weight: 700;
    }
    &Body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem 1rem;
      width: 100%;
      margin: 0 auto;
      max-width: calc(0.8 * 0.8 * #{$breakpoint-laptop});
      overflow-y: hidden;
      box-sizing: border-box;
      transition-duration: 500ms;
      & p {
        margin-top: 0;
      }
      &_open {
        max-height: 50rem;
        @media screen and (max-width: $breakpoint-tablet) {
          padding: 1rem 1.5rem;
          max-height: 85rem;
        }
      }
      &_close {
        max-height: 0;
        padding: 0;
      }
    }
    &Button {
      position: relative;
      min-width: 3rem;
      background-color: transparent;
      border: none;
      color: $blue-primary;
      cursor: pointer;
      transition-duration: 250ms;
      margin-left: 1rem;
      margin-right: 1rem;
      transform: rotate(180deg);
      @media screen and (max-width: $breakpoint-tablet) {
        min-width: 3rem;
      }
      &:hover {
        color: $blue-hover;
      }
      &_close {
        transform: rotate(0);
      }
    }
  }
  &CallToAction {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    &Question {
      text-align: center;
      color: $blue-primary;
      font-size: 1.7rem;
      @media screen and (max-width: $breakpoint-tablet) {
        font-size: 1.4rem;
      }
    }
    &Button {
      padding: .5rem 2rem;
      font-size: 1.2rem;
    }
  }
}
