@import "../common/index";

.ServiceDetail {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  &Dropdown {
    display: flex;
    width: 100%;
    flex-direction: column;
    &Item {
      margin-bottom: 2rem;
      transition-duration: 250ms;
      border-radius: 10px;
      overflow: hidden;
    }
    &Header {
      display: flex;
      padding: .5rem 1rem;
      box-sizing: border-box;
      justify-content: space-between;
      width: 100%;
      background-color: $blue-primary;
      color: $white;
      font-size: 1.2rem;
      &_open {

      }
      &_close {

      }
    }
    &Number {
      color: $blue-primary;
      font-size: 5rem;
      font-weight: 700;
      padding: 0 .5rem;
    }
    &Icon {
      font-size: 3rem;
      width: 4rem;
      font-weight: bold;
      aspect-ratio: 4 / 3;
    }
    &Title {
      display: flex;
      align-items: center;
    }
    &Body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: .2rem 0;
      width: 100%;
      margin: 0 auto;
      overflow-y: hidden;
      transition-duration: 500ms;
      background-color: $gray-background;
      & ol li {
        margin-bottom: .5rem;
      }
      &_open {
        max-height: 25rem;
        @media screen and (max-width: $breakpoint-tablet) {
          padding: .5rem 0;
          max-height: 45rem;
        }
      }
      &_close {
        max-height: 0;
        padding: 0;
      }
    }
    &Button {
      font-size: 2rem;
      background-color: transparent;
      border: none;
      color: $white;
      cursor: pointer;
      transition-duration: 250ms;
      &:hover {
        color: $gray-background;
      }
      &_close {
        transform: rotate(90deg);
      }
    }
  }
}