@import "../common/index";

.TeamCards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem 1rem;
  justify-content: center;
  & .TeamCard {
    width: 45%;
    max-width: 40rem;
    @media screen and (max-width: $breakpoint-laptop){
      width: 100%;
      max-width: 30rem;
    }
  }
}

.TeamCard {
  display: flex;
  flex-direction: column;
  padding: .5rem 1rem;
  flex-wrap: wrap;
  &Header {
    color: $blue-primary;
    & * {
      font-size: 1.8rem;
      font-weight: 500;
      margin: .2rem 0;
    }
  }
  &Body {
    display: flex;
    width: 100%;
    gap: 2rem;
    padding: .5rem 0;
    align-items: center;
    @media screen and (max-width: $breakpoint-laptop){
      flex-direction: column;
    }
  }
  &Info {
    width: 100%;
  }
  &Picture {
    position: relative;
    align-self: start;
    width: 100%;
    min-width: 20rem;
    aspect-ratio: 14 / 9;
    @media screen and (max-width: $breakpoint-laptop){
      min-width: 12rem;
    }
  }
  &Title {
    & h3 {
      margin: 0;
    }
  }
  &Description {
    text-align: start;
    font-family: $SourceSans3;
    font-weight: 400;
  }
  &ContactInfo {
    display: flex;
    gap: .5rem;
    position: absolute;
    bottom: -2.5rem;
    font-family: $SourceSans3;
    & span {
      color: $gray;
    }
    & span:first-child {
      color: $blue-primary;
    }
  }
}
