@import "common/index";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.main {
  padding-top: $headerHeight;
}

.image {
  position: relative;
}

.button {
  background-color: $blue-primary;
  transition-duration: 500ms;
  padding: .5rem 1rem;
  border: none;
  border-radius: 10px;
  color: $white;
  text-decoration: none;
  font-size: 1rem;
  font-family: inherit;
  &:hover {
    background-color: $blue-hover;
  }
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-thumb{
  width: 8px;
  background-color: $blue-primary;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $blue-hover;
}

section {
  box-sizing: content-box;
  overflow-x: hidden;
}

.section-title {
  text-align: center;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: .5rem;
  height: 4rem;
  font-weight: 600;
  &--normal {
    border-left: 5px solid $blue-primary;
    padding-left: .8rem;
    border-bottom: 5px solid transparent;
  }
  &--highlighted {
    color: $blue-primary;
    box-sizing: content-box;
    border-bottom: 5px solid $blue-primary;
  }
}