@import "common/index";

html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: $AvenirPro;
}

#__next {
  position: relative;
  height: 100%;
}

.main {
  padding-top: $headerHeight;
  height: 100%;
}

.image {
  position: relative;
}

.button {
  background-color: $blue-primary;
  transition-duration: 500ms;
  padding: .5rem 1rem;
  border: none;
  border-radius: 10px;
  color: $white;
  text-decoration: none;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
  text-align: center;
  display: block;
  &:hover {
    background-color: $blue-hover;
  }
}

.link {
  &--email {
    text-decoration: none;
    color: gray;
    &:hover {
      color: $gray;
    }
  }
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-thumb{
  width: 8px;
  background-color: $blue-primary;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $blue-hover;
}

section {
  box-sizing: content-box;
  overflow-x: hidden;
}

header {
  overflow-x: hidden;
}

.section-title {
  text-align: center;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: .5rem;
  height: 4rem;
  font-weight: 600;
  @media screen and (max-width: $breakpoint-tablet){
    font-size: 1.1rem;
  }
  &--normal {
    border-left: 5px solid $blue-primary;
    padding-left: .8rem;
    border-bottom: 5px solid transparent;
  }
  &--highlighted {
    color: $blue-primary;
    box-sizing: content-box;
    border-bottom: 5px solid $blue-primary;
  }
}

.section-subtitle {
  color: $blue-primary;
  border-left: 4px solid $blue-primary;
  padding-left: 1rem;
}

main {
  position: relative;
  height: 100%;
}

.modal-button {
  cursor: pointer;
  width: 100%;
  background-color: transparent;
  padding: 0;
  border: none;
  outline: none;
  &:active {
    border: none;
    outline: none;
  }
}

.modal-overlay {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(77, 77, 77, 0.59);
}

.modal-portal {
  z-index: 99999;
  width: 100vw;
  height: 100vh;
}

.modal-close {
  position: absolute;
  right: 2rem;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: $blue-primary;
  width: 2rem;
  height: 2rem;
  z-index: 9;
  cursor: pointer;
}

.ReactModal__Content {
  z-index: 99999;
  display: flex;
  align-content: center;
  @media screen and (max-width: $breakpoint-tablet) {
    inset: 0 !important;
  }
}

.whatsapp {
  position: sticky;
  bottom: 20px;
  margin: -2.25rem 0;
  right: 2rem;
  float: right;
  z-index: 99;
  cursor: pointer;
  transition-duration: 250ms;
  overflow: hidden;
  transform: scale(0.9);
  &:hover {
    transform: scale(1);
  }
}

.whatsapp div {
  width: 4.5rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: green;
  z-index: 99;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 2rem;
  aspect-ratio: 1 / 1;
  border: 5px solid $blue-primary;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 800ms infinite linear;
}